/* Container global */
.d-flex {
    display: flex;
}

/* Menu latéral */
#sidebar {
    padding: 20px;
    width: 250px;
    height: 100vh; /* Prend toute la hauteur de la page */
    border-right: 4px solid #f8f9fa; /* Séparation entre le menu et le contenu */
}

/* Titre du menu */
#sidebar h2 {
    text-align: center;
    padding-bottom: 20px;
    color: white;
}

/* Lien dans le menu */
#sidebar .nav-link {
    text-transform: uppercase; /* Met le texte en majuscule */
    padding: 10px;
    font-weight: bold;
    color: #47474e;
}


.color1 {color: #12101b;}
.color2 {color: #2b2332;}
.color3 {color: #47474e;}
.color4 {color: #766d7a;}
.color5 {color: #b69eb1;}

.first-plan {
  background-color: #47474e;
}

.first-plan-h:hover {
  background-color: #766d7a;
  color: white;
}

.second-plan {
  background-color: #2b2332;
}

.third-plan {
  background-color: #12101b;
}